[user]
    name = gzy
    email = gzyonline@hotmail.com
[core]
    autocrlf = false
    safecrlf = true
    filemode = false
    quotepath = false
    excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[color]
    ui = auto
[push]
    default = current
[alias]
    s = status
    st = status
    df = diff
    mg = merge --no-ff
    mgf = merge --ff
    mgs = merge --squash
    rb = rebase
    ck = checkout
    co = checkout
    cko = checkout --orphan
    cm = commit
    br = branch
    pl = pull
    plr = pull --rebase
    ps = push
    rmbr = fetch -p
    unstage = reset HEAD
    # remove a file from index
    unadd = reset HEAD
    last = log -1
    logf = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=format:'%Y-%m-%d %H:%M:%S'
    log1 = log --pretty=oneline --abbrev-commit --graph --decorate
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
[gui]
    encoding = utf-8
[i18n]
    filesEncoding = utf-8
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[safe]
	directory = *


# ━━━━━━神兽出没━━━━━━
#  ┏┓　　　┏┓
#┏┛┻━━━┛┻┓
#┃　　　　　　　┃
#┃　　　━　　　┃
#┃　┳┛　┗┳　┃
#┃　　　　　　　┃
#┃　　　┻　　　┃
#┃　　　　　　　┃
#┗━┓　　　┏━┛
#　　┃　　　┃神兽保佑
#　　┃　　　┃代码无BUG！
#　　┃　　　┗━━━┓
#　　┃　　　　　　　┣┓
#　　┃　　　　　　　┏┛
#　　┗┓┓┏━┳┓┏┛
#　　　┃┫┫　┃┫┫
#　　　┗┻┛　┗┻┛
#━━━━━━感觉萌萌哒━━━━━━
#
