ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
NVM_NODEJS_ORG_MIRROR=https://npmmirror.com/mirrors/node
NVM_NPM_MIRROR=https://npmmirror.com/mirrors/npm
PYTHON_MIRROR=https://npmmirror.com/mirrors/python
SASS_BINARY_SITE=https://npmmirror.com/mirrors/node-sass/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
